<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113169133046-k39h9ds6a5i0chalgv06hqb5li8s68rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113169133046-k39h9ds6a5i0chalgv06hqb5li8s68rm</string>
	<key>API_KEY</key>
	<string>AIzaSyDnbGZC8L28XRAc-hqpDRepTmL6MUm1oF0</string>
	<key>GCM_SENDER_ID</key>
	<string>113169133046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noevila.WatchTFM.watchkitapp</string>
	<key>PROJECT_ID</key>
	<string>pictowatch-95035</string>
	<key>STORAGE_BUCKET</key>
	<string>pictowatch-95035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113169133046:ios:352735703c0acf2b3cebd7</string>
	<key>DATABASE_URL</key>
	<string>https://pictowatch-95035-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>