<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113169133046-7g2qu0e04gh65g2k0hpehop9n2poarme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113169133046-7g2qu0e04gh65g2k0hpehop9n2poarme</string>
	<key>API_KEY</key>
	<string>AIzaSyDnbGZC8L28XRAc-hqpDRepTmL6MUm1oF0</string>
	<key>GCM_SENDER_ID</key>
	<string>113169133046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noevila.WatchTFM</string>
	<key>PROJECT_ID</key>
	<string>pictowatch-95035</string>
	<key>STORAGE_BUCKET</key>
	<string>pictowatch-95035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113169133046:ios:416dd36c6d4bfe7e3cebd7</string>
</dict>
</plist>